<mat-tab-group id="tab-group">
  <mat-tab label="PROGRAM">
    <table>
      <tr>
        <th>Program ID:</th>
        <td>{{ program.progid }}</td>
      </tr>
      <tr>
        <th>Program Name:</th>
        <td>{{ program.progfullname }}</td>
      </tr>
      <tr>
        <th>Program Short Name</th>
        <td>{{ program.progshortname }}</td>
      </tr>
      <tr>
        <th>Program College ID</th>
        <td>{{ program.progcollid }}</td>
      </tr>
      <tr>
        <th>Program College Department ID</th>
        <td>{{ program.progcolldeptid }}</td>
      </tr>
    </table>
  </mat-tab>
</mat-tab-group>
