<mat-tab-group id="tab-group">
  <mat-tab label="STUDENTS">
    <table>
      <tr>
        <th>Student ID:</th>
        <td>{{ student.studid }}</td>
      </tr>
      <tr>
        <th>First Name:</th>
        <td>{{ student.studfirstname }}</td>
      </tr>
      <tr>
        <th>Middle Name:</th>
        <td>{{ student.studmidname }}</td>
      </tr>
      <tr>
        <th>Last Name:</th>
        <td>{{ student.studlastname }}</td>
      </tr>
      <tr>
        <th>College ID:</th>
        <td>{{ student.studcollid }}</td>
      </tr>
      <tr>
        <th>Program ID:</th>
        <td>{{ student.studprogid }}</td>
      </tr>
      <tr>
        <th>Year Level:</th>
        <td>{{ student.studyear }}</td>
      </tr>
    </table>
  </mat-tab>
</mat-tab-group>
